:root {
  --theme-color-1: #000; /* black */
  --theme-color-2: rgba(255, 255, 255, 0.75); /* transparent white */
  --theme-color-3: #ff80ef; /* pastel magenta */
  --theme-color-4: #80b9ff; /* pastel blue */
  --theme-color-5: #89fcfc; /* new: teal */
  --surface: #d6d6d6;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;

    /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#menu {
  display: flex;
  justify-content: space-between;
}

.option {
  margin: 10px;
  color: var(--theme-color-1);
  cursor: pointer !important;
}

.option:hover {
  color: var(--theme-color-3);
}

.window-frame {
  max-width: 250px;
  border: 28px inset var(--theme-color-3);
  background-color: var(--theme-color-2);
}

.window-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-transform: uppercase;
}

.close {
  cursor: pointer !important;
}

.submenu-option {
  margin: 10px;
  cursor: pointer !important;
}

.submenu-option:hover {
  color: var(--theme-color-4);
}

.submenu-option.selected {
  color: var(--theme-color-3);
}

#desktop {
  background: linear-gradient(
    #C09DF7,
    var(--theme-color-5)
  );
  height: 100vh;
  font-family: 'Trebuchet MS', sans-serif;
}

.desktop-button {
  box-sizing: border-box;
  border: none;
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  min-width: 260px;
  min-height: 30px;
  margin-left: 5px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 10pt;
}

.desktop-button:active {
  box-sizing: border-box;
  outline: 1pt;
  outline-style: dotted;
  outline-offset: -5px;
  background: var(--surface);
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  min-width: 260px;
  min-height: 30px;
  margin-left: 5px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 10pt;
}

input[type=text], select {
  width: 260px;
  padding: 6px;
  margin-top: 5px;
  display: inline-block;
  border-width: var(--border-width);
  box-sizing: border-box;
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

input[type=password], select {
  width: 260px;
  padding: 6px;
  margin-top: 5px;
  display: inline-block;
  border-width: var(--border-width);
  box-sizing: border-box;
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

.login-header {
  background: linear-gradient(
    90deg,
    var(--theme-color-3),
    var(--theme-color-4)
  );
  height: 25px;
  padding: 5px;
}

.login-footer {
  height: 25px;
  padding: 5px;
}

.login {
  background-color: var(--surface);
  width: 284px;
  max-width: 284px;
  height: 354px; 
  max-height: 354px;
  border-width: var(--border-width);
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
  margin: 10% auto; 
}

.login-form {
  margin-top: 15px;
  margin-left: 5px;
  align-items: center;  
}

.login-entry {
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 15px;
}

#footer-text {
  font-size: 8pt;
}

.white-txt{
  color: white;
}