body {
    display: flex;
    flex-direction: column;
    border:3px solid red;
}

.drawingPads {
    display: flex;
    justify-content: space-around;
    border: 2px solid purple;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid blue;
    padding-top: 15px;
}
.brushesMade {
    display: flex;
    /* flex-direction: column; */
    border:3px solid orange;
}

.defaultBrushes {
    display: flex;
    /* flex-direction: column; */
    border:3px solid green;
}
.brushImg {
    border: 2px solid black;
    height: 50px;
    width: auto;
    cursor: pointer;
}
canvas {
    position: relative;
    /* border: 2px solid black; */
}