:root {
  --theme-color-1: #000; /* black */
  --theme-color-2: rgba(255, 255, 255, 0.75); /* transparent white */
  --theme-color-3: #ff80ef; /* pastel magenta */
  --theme-color-4: #80b9ff; /* pastel blue */
  --theme-color-5: #89fcfc; /* new: teal */
  --theme-color-6: #fcf2fb; /* new: light pink */

  /* styling borrowed from https://github.com/jdan/98.css */
  --surface: #d6d6d6;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;

    /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);
}



body {
  background: linear-gradient(
    #C09DF7,
    var(--theme-color-5)
  );
  height: 100vh;
  font-family: 'Trebuchet MS', sans-serif;
}

.appContainer{

    display: flex;
    border:0px solid #fcf2fb;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    border:0px solid #ff80ef;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    border: 0px solid #80b9ff
}
.canvasContainer {
    display: flex;
    justify-content: space-between;
    border: 0px solid #ff80ef;
}

canvas{
    background: black;
}

/* .drawingPad{
    border: 2px solid salmon;
    margin: 3px;
} */

.settingsContainer {
  background: linear-gradient(
    #C09DF7,
    var(--theme-color-3)
  );
    display: flex;
    justify-content: space-evenly;
    border: 0px solid #d6d6d6;
    margin: 0px;
}
.brushesContainer {
    display: flex;
    /* flex-direction: column; */
    border:10px solid #d6d6d6;
    margin: 0px;
}

.defaultBrushes {
    display: flex;
    /* flex-direction: column; */
    border:0px solid #fcf2fb;
}

.premade {
    margin: 0px;
}

.brushImg {
    border: 10 ;
    height: 50px;
    width: auto;
    cursor: pointer;
    margin: 100px;
}
canvas {
  background: linear-gradient(
    #C09DF7,
    var(--theme-color-5)
  );
    position: relative;
    border: 2px solid black;
    margin: 70px;
}
